<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post %>
  </p>

  <p>
    <strong>References:</strong>
    <%= comment.references %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

</div>
